.btn-inline {
  border: none;
  color: var(--color-primary);
  font-size: inherit;
  border-bottom: var(--line);
  display: inline-block;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.2s;

  & span {
    margin-left: 3px;
  }

  &:hover {
    color: var(--color-grey-dark-1);
    span {
      margin-left: 8px;
      transition: all 0.2s;
    }
  }
  &:focus {
    outline: none;
    animation: pulsate 1s infinite;
  }
}

@keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: none;
  }
  50% {
    transform: scale(1.05);
    box-shadow: 0 1rem 4rem rgba(0, 0, 0.25);
  }
  100% {
    transform: scale(1);
    box-shadow: none;
  }
}

.btn {
  font-size: 1.5rem;
  border: none;
  font-weight: 300;
  text-transform: uppercase;
  border-radius: 100px;
  background-image: linear-gradient(
    to right,
    var(--color-primary-light),
    var(--color-primary-dark)
  );
  position: relative;
  cursor: pointer;
  color: #fff;
  overflow: hidden;

  &__visible {
    display: inline-block;
    padding: 2rem 7.5rem;
    height: 100%;
    @include respond(phone-small) {
      width: 40%;
      padding: 2rem 3rem;
      height: 40%;
    }
  }
  &__invisible {
    display: inline-block;
    position: absolute;
    left: 0;
    top: -100%;
    padding: 2rem 0;
    height: 100%;
    width: 100%;
    transition: all 0.2s;

    @include respond(phone-small) {
      width: 40%;
      padding: 2rem 3rem;
      height: 40%;
    }
  }
  &:hover {
    background-image: linear-gradient(
      to left,
      var(--color-primary-light),
      var(--color-primary-dark)
    );
  }

  &:hover &__visible {
    transform: translateY(100%);
  }

  &:hover &__invisible {
    top: 0;
  }

  &:focus {
    outline: none;
    animation: pulsate 1s infinite;
  }
}
