.paragraph {
  text-align: justify;
  &:not(:last-of-type) {
    margin-bottom: 2rem;
  }
}

.list {
  margin: 3rem 0;
  list-style: none;
  padding: 3rem 0;
  border-top: var(--line);
  border-bottom: var(--line);
  display: flex;

  flex-wrap: wrap;
  &__item {
    flex: 0 0 50%;
    margin-bottom: 0.7rem;
  }
  &__item::before {
    content: "";
    display: inline-block;

    height: 2rem;
    width: 2rem;
    margin-right: 0.7rem;
    background-image: url(../img/chevron-thin-right.svg);
    background-size: cover;
    @supports (-webkit-mask-image: url()) or (mask-image: url()) {
      background-color: var(--color-primary);
      -webkit-mask-image: url(../img/chevron-thin-right.svg);
      -webkit-mask-size: cover;
      mask-image: url(../img/chevron-thin-right.svg);
      mask-size: cover;
      background-image: none;
    }
  }
}
